---
import Layout from '../layouts/Layout.astro';
import Paint from '../components/Paint.astro';
---

<Layout title="Microsoft Paint - Astro Version">
	<main>
		<h1>Astro<span class="text-gradient">Paint</span></h1>
		<Paint />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 100%;
		max-width: 1200px;
		color: #333;
		font-size: 16px;
		line-height: 1.6;
	}
	h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
 	 }
	.text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
